<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <title>Snake</title>
    <style>
      html,
      body {
        width: 100vw;
        height: 100vh;
      }

      body {
        overflow: hidden;
      }

      canvas {
        max-width: 100vw;
        max-height: 100vh;
      }
    </style>
  </head>
  <body>
    <noscript>
      Enable JavaScript to see content on this page
    </noscript>

    <canvas id="app"></canvas>
  </body>
</html>
